In [ ]:
import  numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('C:/Users/acer/OneDrive/Desktop/MLprojects/MLProject(3)/athlete_events.csv')

In [ ]:
region_df=pd.read_csv('noc_regions.csv')

In [ ]:
df.tail(10)

In [ ]:
df.shape

In [ ]:
df=df[df['Season']=='Summer']

In [ ]:
df.shape

In [ ]:
df

In [ ]:
region_df.tail()

In [ ]:
# merge on the basis on NOC in the df table to get the region
df=df.merge(region_df,on='NOC',how='left')

In [ ]:
df.tail()

In [ ]:
df['region'].unique()

In [ ]:
df['region'].unique()

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

In [ ]:
df['Medal'].value_counts()

In [ ]:
m=pd.get_dummies(df['Medal'])
df=pd.concat([df,m],axis=1,)

In [ ]:
df.shape

In [ ]:
df

In [ ]:
df.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

In [ ]:
df[(df['NOC']=='IND') & (df['Medal']=='Gold')]

In [ ]:
# dropping the duplicates from the columns ['Team','NOC','Games','Year','City','Sport','Event','Medal']
medal_tally=df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Event','Medal'])

In [ ]:
medal_tally

In [ ]:

# medal_tally=medal_tally.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

# medals by region
medal_tally=medal_tally.groupby('region').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

In [ ]:
#medal_tally[medal_tally['NOC']=='IND']

In [ ]:
medal_tally

In [ ]:
# adding a total column at the end 
medal_tally['Total']=medal_tally['Gold']+medal_tally['Silver']+medal_tally['Bronze']

In [ ]:
medal_tally

In [ ]:
df

In [ ]:
# fetching the unique values of years and converting into list
years =df['Year'].unique().tolist()

In [ ]:
years.sort()

In [ ]:
years
## insert 'Overall' at index 0
years.insert(0,'Overall')

In [ ]:
years

In [ ]:
# ## Extracting Country
# country = df['region'].unique().tolist()
# country
# --> it contains the numeric values like NaN

In [ ]:
# fetching the unique values of countries and converting into list
country=np.unique(df['region'].dropna().values).tolist()

In [ ]:
country.sort()

In [ ]:
country

In [ ]:
## insert 'Overall' at index 
country.insert(0,'Overall')
country

In [ ]:
# ## creating a fuction for showing data for a specific year and specific country

def fetch_medal_tally(year,country):
    medal_df=df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Event','Medal'])
    
    flag=0
    if year=='Overall' and country =='Overall':
        temp_df=medal_df
    if year=='Overall' and country !='Overall':
        flag=1
        temp_df=medal_df[medal_df['region'] == country]
    if year!='Overall' and country =='Overall':
        temp_df=medal_df[medal_df['Year']==year]
    if year!='Overall' and country !='Overall':
        temp_df=medal_df[(medal_df['region']==country) &(medal_df['Year']==year)]
        
        
    # this if is not used because if we set a specific country and overall year then it will show the total
    # medals not but not year that is why we here group by Year
    if flag==1:
        # this
        x=temp_df.groupby('Year').sum()[['Gold','Silver','Bronze']].sort_values('Year',ascending=True).reset_index()
    else:   
    # making a dataframe  on the basis of region
        x=temp_df.groupby('region').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()
    x['total']=x['Gold']+x['Silver']+x['Bronze']

     # convert the datatype of all columns into int
    x['Gold'] = x['Gold'].astype('int')
    x['Silver'] = x['Silver'].astype('int')
    x['Bronze'] = x['Bronze'].astype('int')
    x['total'] = x['total'].astype('int')
    

    return x

In [ ]:
a=fetch_medal_tally(year='Overall',country='USA')
a

In [ ]:
medal_df=medal_tally=df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Event','Medal'])
#medal_df
# for a specific country
medal_df[medal_df['region']=='India']

# for specific year
medal_df[medal_df['Year']==2016]

# for a speific country and a specific Year
medal_df[(medal_df['region']=='India') &(medal_df['Year']==2016)]

## Overall Analysis

  1. No. of Editions
  2. No. of cities
  3. No. of events/spots
  4. no. of Athletes
  5. Participating nations

In [ ]:

df['Year'].unique().shape

In [ ]:
# but there are only 28 editions of  olympic
# No. of Editions
df['Year'].unique().shape[0] -1

In [ ]:
# No. of cities
df['City'].unique().shape[0]

In [ ]:
# No.of sports
df['Sport'].unique().shape

In [ ]:
# No. of different Events
df['Event'].unique().shape

In [ ]:
# No. of athletes
df['Name'].unique().shape

In [ ]:
# No.of Participating Nations
df['region'].unique().shape

In [ ]:
 ## Plot the line plot between nations and and the years
    
nations_over_time=df.drop_duplicates(['Year','region'])['Year'].value_counts().reset_index().sort_values(by=['index'])
nations_over_time.rename(columns={'index':'Edition','Year':'No. of Countries'},inplace=True)
nations_over_time

In [ ]:

import plotly.express as px

In [ ]:
fig=px.line(nations_over_time,x='Edition',y='No. of Countries')
fig.show()

In [ ]:
# no of events over the year
events_over_time=df.drop_duplicates(['Year','Event'])['Year'].value_counts().reset_index().sort_values(by=['index'])
events_over_time.rename(columns={'index':'Edition','Year':'No. of Events'},inplace=True)
events_over_time

In [ ]:
# no of events over the year
events_over_time=df.drop_duplicates(['Year','Event'])['Year'].value_counts().reset_index().sort_values(by=['index'])
events_over_time.rename(columns={'index':'Edition','Year':'No. of Events'},inplace=True)
events_over_time

In [ ]:
x=df.drop_duplicates(['Sport','Year','Event'])
x

In [ ]:
x.pivot_table(index='Sport',columns='Year',values='Event',aggfunc='count').fillna(0).astype('int')

In [ ]:
# plotting heatmap for seeing the number of event of a particular sport  in paticular year

plt.figure(figsize=(25,25))
sns.heatmap(x.pivot_table(index='Sport',columns='Year',values='Event',aggfunc='count').fillna(0).astype('int'),annot=True)

In [ ]:
### finding the most successfull person as per the number of medals
def most_successfull(df,sport):
    # As we are finding the most successfull person as per the number of medals so
    #we can drop na values from medal

    temp_df=df.dropna(subset=["Medal"])
                      
    if sport !='Overall':
        ## if we want to find answer by sportswise else show overall
        temp_df=temp_df[temp_df['Sport']==sport]
    
    x=temp_df['Name'].value_counts().reset_index().head(15).merge(df,left_on='index',right_on='Name',how='left')[['index','Name_x','Sport','region']].drop_duplicates('index')
    x.rename(columns={'index':'Name','Name_x':'Medals'},inplace=True)
    return x

In [ ]:
 m=most_successfull(df,'Overall')
 m

### Country Wise
1. Countrywise Medal Tally per year(line plot)
2. what countries are good at heatmap
3. most successfull Athletes(top 10)

In [ ]:
## country Wise medal Tally per year(line plot)
## dropna where medals are NaN
temp_df=df.dropna(subset=['Medal'])
##  we have data such that the medal are not correct as the medals are counted for each team member so we preform drop_duplicated 
## on some of the aggregated column i.e.
temp_df=temp_df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Event','Medal'])
temp_df

In [ ]:
## finding the number of medals of a specific country in a secific year to plot a line plot for showing 
## number of medals yearwise
new_df=temp_df[temp_df['region']=='USA']
final_df= new_df.groupby('Year').count()['Medal'].reset_index()
final_df

In [ ]:
fig=px.line(final_df,x='Year',y='Medal')
fig.show()

In [ ]:
# plotting the heatmap for various years for various sports for a particular countries 
new1_df=temp_df[temp_df['region']=='India']
plt.figure(figsize=(20,20))
sns.heatmap(new1_df.pivot_table(index='Sport',columns='Year',values='Medal',aggfunc='count').fillna(0),annot=True)

In [ ]:
### most Successful Athletes by Country
def most_successfull_atheletes_country_wise(df,country):
    # As we are finding the most successfull person as per the Country so
    #we can drop na values from medal

    temp_df=df.dropna(subset=["Medal"])
 
    
        ## if we want to find answer by countrywise else show overall
    temp_df=temp_df[temp_df['region']==country]
   
    
    x=temp_df['Name'].value_counts().reset_index().head(15).merge(df,left_on='index',right_on='Name',how='left')[['index','Name_x','Sport']].drop_duplicates('index')
    x.rename(columns={'index':'Name','Name_x':'Medals'},inplace=True)
    print(temp_df.shape)
    return x

In [ ]:
most_successfull_atheletes_country_wise(df,'India')

### Athlete wise analysis

In [ ]:
import plotly.figure_factory as ff
# remove duplicates from name as players played in more than one olympic Event
Athlete_df=df.drop_duplicates(subset=['Name','region'])

In [ ]:

a1=Athlete_df['Age'].dropna()
# age distribution of player who won GOLD,Silver,Bronze
a2=Athlete_df[Athlete_df['Medal']=='Gold']['Age'].dropna()
a3=Athlete_df[Athlete_df['Medal']=='Silver']['Age'].dropna()
a4=Athlete_df[Athlete_df['Medal']=='Bronze']['Age'].dropna()
fig=ff.create_distplot([a1,a2,a3,a4],['Age Distribution','Gold Medalist','Silver Medalist','Bronze Medalist'],show_hist=False,show_rug=False)
fig.show()

In [ ]:
df['Sport'].unique()

In [ ]:
famous_sport=['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Athletics',
       'Swimming', 'Badminton', 'Sailing', 'Gymnastics',
       'Art Competitions', 'Handball', 'Weightlifting', 'Wrestling',
       'Water Polo', 'Hockey', 'Rowing', 'Fencing', 'Equestrianism',
       'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing',
       'Tennis', 'Modern Pentathlon', 'Golf', 'Softball', 'Archery',
       'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Baseball',
       'Rhythmic Gymnastics', 'Rugby Sevens', 'Trampolining',
       'Beach Volleyball', 'Triathlon', 'Rugby', 'Lacrosse', 'Polo',
       'Cricket', 'Ice Hockey']

In [ ]:
## finding the age distributikon for a specific sport
x=[]
Name=[]
for sport in famous_sport:
    temp_df=Athlete_df[Athlete_df['Sport']==sport]
    x.append(temp_df[temp_df['Medal']=='Gold']['Age'].dropna())
    Name.append(sport)
print(Name)
print(x)

In [ ]:
fig=ff.create_distplot(x,Name,show_hist=False,show_rug=False)
fig.show()

In [ ]:
import pandas as pd
import plotly.figure_factory as ff

# Assuming df is your DataFrame containing the necessary data

# Filter DataFrame to remove duplicate athletes
Athlete_df = df.drop_duplicates(subset=['Name', 'region'])

# List of famous sports
famous_sport = ['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Athletics',
                'Swimming', 'Badminton', 'Sailing', 'Gymnastics',
                'Art Competitions', 'Handball', 'Weightlifting', 'Wrestling',
                'Water Polo', 'Hockey', 'Rowing', 'Fencing', 'Equestrianism',
                'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing',
                'Tennis', 'Modern Pentathlon', 'Golf', 'Softball', 'Archery',
                'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Baseball',
                'Rhythmic Gymnastics', 'Rugby Sevens', 'Trampolining',
                'Beach Volleyball', 'Triathlon', 'Rugby', 'Lacrosse', 'Polo',
                'Cricket', 'Ice Hockey']

x = []  # List to store age data
Name = []  # List to store sport names

# Loop through each sport
for sport in famous_sport:
    temp_df = Athlete_df[Athlete_df['Sport'] == sport]
    age_data = temp_df[temp_df['Medal'] == 'Gold']['Age'].dropna()
    if not age_data.empty:  # Ensure age data is not empty before appending
        x.append(age_data)
        Name.append(sport)

# Create the distribution plot
fig = ff.create_distplot(x, Name, show_hist=False, show_rug=False)

# Display the plot
fig.show()

In [ ]:
## plot the scatter plot for showing the players with medal,no medal,sexwise for a particular sport
Athlete_df['Medal'].fillna("No Medal",inplace=True)
temp_df=Athlete_df[Athlete_df['Sport']=='Wrestling']
plt.figure(figsize=(10,10))

# showing the height weight distribution of all players for a specific sport
import seaborn as sns

# Define the custom color palette with specific colors for each medal
custom_palette = {'Gold': 'red', 'Silver': 'orange', 'Bronze': 'green', 'No Medal': 'skyblue'}

# Plot the scatter plot with Seaborn, specifying the custom palette
sns.scatterplot(data=temp_df, x='Weight', y='Height', hue='Medal', palette=custom_palette,style='Sex',s=80)

# Show the plot
plt.show()

In [ ]:
## finding the number of male and female participants over the year
men=Athlete_df[Athlete_df['Sex']=='F'].groupby('Year').count()['Name'].reset_index()
women=Athlete_df[Athlete_df['Sex']=='M'].groupby('Year').count()['Name'].reset_index()

In [ ]:
final=men.merge(women,on='Year',how='left')
final.rename(columns={'Name_x':'Male','Name_y':'Female'},inplace=True)

In [ ]:
final.fillna(0,inplace=True)

In [ ]:
final

In [ ]:
fig=px.line(final,x='Year',y=['Male','Female'])

In [ ]:
fig.show()